h1 {
	padding: 0;
	margin: 0;
}

#topBar {
	background-color: #393939;
	height: 10vh;
	width: 100%;
	color: #D5D5D5;
	text-align: center;
}

.colorBox {
	width: 100%;
	height: 20vh;
	margin-top: 3%;
	text-align: center;
}

#b1 {
	background-color: #89B1E3;
}

#b2 {
	background-color: #FC6874;
}

#b3 {
	background-color: #00CE45;
}